html {
    background-color: green;
    font-size: 20px;
}

ul {
    background: red;
    padding: 10px;
    border: 1px solid black;
}

li {
    margin-left: 20px;
}

.game  {
    margin: 35px auto;
    padding: 0px 15px;
    background-color: white;
    font-family: sans-serif;
    border: 5px black solid;
    width: 60%;
    max-width: 800px;
    min-width: 480px;
}

.lastResult {
    color: white;
    padding: 3px;
}