html, body{
    height: 100%;
    width: 100%;
    background: rgb(162,0,71);
    background: radial-gradient(circle, rgba(162,0,71,1) 8%, rgba(2,0,40,1) 60%);
    box-sizing: border-box;
}

body{
    display: block;
    margin: 0;
}

#mainWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px;
}

#topWrapper {
    width: 100%;
    height: calc(90% - 3px);
    margin-top: 0;
    margin-bottom: 0;
    border: red 2px solid;
    display: flex;
    overflow: hidden;
}

#navigation {
    /*width: calc(75% - 5px);*/
    flex-basis: calc(75% - 5px);
    /*display: block;*/
    position: relative;
    overflow: hidden;
    border: dodgerblue 2px solid;
    display: inline-flex;
}

.emptyNavContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#logoBox{
    flex: 0 0 50%;
    margin: 3%;
    align-self: flex-end;
    flex-grow: 1;
    border: white 3px solid;
}

#logoBox img{
    /*margin: auto;*/
    width: 90%;
}

#topContent {
    /*flex-grow: 1;*/
    /*display: inline-flex;*/
    align-items: center;
    position: relative;
    overflow: hidden;
    border: green 2px solid;
    display: inline-block
}

#topLabel p{
    margin: 10px;
    width: 80%;
    height: 90%;
    font-family: "Rubik Mono One", sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(213, 244, 87, 0.84) 2px 2px 0px;
}

#topContent ul{
    display: inline;
    overflow: hidden;
    font-family: "Rubik Mono One", sans-serif;
    text-align: center;
    font-size: 35px;
    color: rgb(96, 128, 214);
    text-shadow: rgb(244, 181, 87) 2px 2px 0px;
}

#bottomWrapper {
    width: 100%;
    flex-grow: 1;
    /*overflow: hidden;*/
    /*position: relative;*/
    margin-top: 0;
    margin-bottom: 0;
    border: yellow 2px solid;
    display: flex;
}

#bottomCorner {
    width: calc(75% - 2px);
    display: block;
    position: relative;
    overflow: hidden;
}

#bottomContent {
    flex-grow: 1;
    display: block;
    position: relative;
    overflow: hidden;
    border: green 2px solid;
}

#bgSVG{
    position: fixed;
    box-sizing: border-box;
    fill: none;
    width: 100%;
    height: 100%;
    padding: 18px;
    stroke: white;
    stroke-width: 3px;
    z-index: 9999;
    pointer-events: none;
}

.shade{
    float: left;
    max-height:100%;
    background-color: rgb(155, 38, 88);
    padding: 0;
}

/*main{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/





/*#topContent {*/
/*    display: block;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/



